.posts-container {
  display: flex;
  flex-direction: column;
  text-align: start;
  margin-bottom: 2em;
  border-bottom: 1px grey solid;
}

.posts-container:first-child {
  margin-top: 50px;
}

.posts-container:last-child {
  margin-bottom: 70px;
}

.posts-container p {
  margin: 0;
  padding: 0 10px;
}

.posts-container-image {
  background-color: grey;
  width: 390px;
  height: 390px;
}
