.profile-container {
  padding: 1em;
  height: 100%;
  position: relative;
  top: 50px;
}

.profile-container-content {
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 1em;
}

.profile-container-content > input {
  display: flex;
  justify-content: center;
}

.profile-container-image {
  justify-self: center;
  border-radius: 50%;
  height: 150px;
  width: 150px;
  object-fit: contain;
}
