.post-container {
  display: flex;
  flex-direction: column;
  text-align: start;
  margin-bottom: 2em;
  border-bottom: 1px grey solid;
  width: 390px;
}

.post-container:first-child {
  margin-top: 50px;
}

.post-container:last-child {
  margin-bottom: 70px;
}

.post-container p,
h3 {
  margin: 0;
  padding: 0 10px;
}

.post-container-image {
  background-color: grey;
  width: 390px;
  height: 390px;
}

.post-container-top {
  display: flex;
  justify-content: space-between;
  padding-right: 10px;
  align-items: center;
}

.post-container-top img {
  vertical-align: middle;
  width: 40px;
  height: 40px;
  object-fit: contain;
}

.post-container-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.likeButton {
  margin-right: 10px;
}

.post-container-messages-header {
  display: flex;
  margin-bottom: 10px;
}

.post-container-messages {
  padding-bottom: 0.5em;
}

.post-container-messages-text {
  display: flex;
  justify-content: space-between;
  padding: 3px 3px;
  border-radius: 2em;
  background: linear-gradient(45deg, #ffcaa6, #f86594);
  font-size: small;
  width: 70%;
}

.chat-container-accordion {
  width: 350px;
  align-self: center;
}

.chat-container {
  display: flex;
  flex-direction: column;
}

.post-container-input {
  display: flex;
  justify-content: space-between;
  margin: 1em auto;
}
