.navbar-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  justify-items: center;
  height: 50px;
  padding: 10px;
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: white;
  z-index: 1;
  border-top: 1px solid grey;
}

.navbar-container a {
  margin-right: 1em;
  text-decoration: none;
  color: black;
}
